.full-width-table {
  width: 100%;
}

.mat-elevation-z8{
  position: relative;
  top:50px;
  width: 100%;
  margin-left: 35px;
  margin-right: 35px;
  border-right: 35px;
  color: aqua;
 
}
.search-div{
  position: relative;
  margin-left: 35px;
}
  .search-form-field{
  position: relative;
  margin-left: 35px;
 }


